{% extends "/layouts/layout.html" %}
{% block content %}
    <!-- Header con logo de Linio -->
    {% include '/layouts/_header.html' %}

    <!-- Sección de registro-->
    <div class=" container w-100 mx-auto mt-4 px-4 fade-in" style="max-width: 450px;">
        <h4 class="text-center" style="color:  #333333">
            <strong>Regístrate en Linio</strong>
        </h4>
        <!-- Si hay errores, se muestra un mensaje de alerta -->
        {% if errores is defined %}
          {% for error in errores %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <ul>
              <li>{{ error }}</li>
            </ul>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        {% endif %}
        <!-- Formulario de registro -->
        <form class="form mx-auto w-100 mt-4" role="form" autocomplete="off" id="signupForm"
            method="POST">

            <!-- Input de correo electrónico -->
            <input class="form-control " name="correo" id="correo" required placeholder="Correo electrónico"
                oninvalid="this.setCustomValidity('Ingresa tu correo electrónico')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de nombre de usuario -->
            <input type="text" class="form-control mt-3" name="nombre_de_usuario" id="nombre_de_usuario" required
                placeholder="Nombre de usuario" oninvalid="this.setCustomValidity('Escoge un nombre de usuario')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de contraseña -->
            <input type="password" class="form-control mt-3" name="password" id="password" required placeholder="Contraseña"
                oninvalid="this.setCustomValidity('Ingresa una contraseña')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de nombre completo -->
            <input type="text" class="form-control mt-3" name="nombre_completo" id="nombre_completo" required
                placeholder="¿Cómo te llamas?" oninvalid="this.setCustomValidity('Ingresa tu nombre completo')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de número de celular -->
            <input type="number" class="form-control mt-3" name="celular" id="celular" required
                placeholder="¿Cuál es tu celular?" oninvalid="this.setCustomValidity('Ingresa tu número celular')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de DNI  -->
            <input type="text" class="form-control mt-3" name="dni" id="dni" required
                placeholder="¿Cuál es tu DNI?" oninvalid="this.setCustomValidity('Ingresa el número de tu DNI')"
                oninput="this.setCustomValidity('')" />

            <!-- Input de fecha de nacimiento -->
            <label class="mt-3" for="exampleFormControlSelect1">Fecha de nacimiento</label>
            <div class="row">
                <div class="col-3">
                    <input type="number" name="fecha_de_nacimiento_dia" class="form-control" placeholder="Día" required oninvalid="this.setCustomValidity('Ingresa el día de tu fecha de nacimiento')"
                    oninput="this.setCustomValidity('')">
                </div>
                <div class="col-5">
                    <select id="fecha_de_nacimiento_mes" name="fecha_de_nacimiento_mes" class="form-control" required oninvalid="this.setCustomValidity('Ingresa tu mes de nacimiento')"
                    oninput="this.setCustomValidity('')">
                        <option selected>Mes</option>
                        <option value="1">Enero</option>
                        <option value="2">Febrero</option>
                        <option value="3">Marzo</option>
                        <option value="4">Abril</option>
                        <option value="5">Mayo</option>
                        <option value="6">Junio</option>
                        <option value="7">Julio</option>
                        <option value="8">Agosto</option>
                        <option value="9">Setiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>
                <div class="col-4">
                    <input type="number" name="fecha_de_nacimiento_anho" class="form-control" placeholder="Año" required oninvalid="this.setCustomValidity('Ingresa el año de tu fecha de nacimiento')"
                    oninput="this.setCustomValidity('')">
                </div>
            </div>

            <!-- Input de número de tarjeta -->
            <input type="number" class="form-control mt-3" name="numero_de_tarjeta" id="numero_de_tarjeta"
                placeholder="¿Cuál es tu número de tarjeta? (Opcional)" />

            <!-- Términos y condiciones -->
            <div class="text-center mt-3">
                <small style="font-weight: 600;">
                    Al hacer click en Registrarse, acepta los <a href="https://www.linio.com.pe/sp/terminos-y-condiciones" style="color:#FF5500;">Términos y
                        Condiciones de uso</a> de
                    Linio.
                </small>
            </div>

            <!-- Política de privacidad -->
            <div class="text-center mt-3">
                <small style="font-weight: 600;">
                    Para obtener más información sobre cómo Linio recopila, utiliza, comparte y protege sus datos
                    personales, lea la <a href="https://www.linio.com.pe/sp/privacidad" style="color:#FF5500;">Política de privacidad</a> de
                    Linio.
                </small>
            </div>

            <!-- Botón para enviar formulario-->
            <button type="submit" class="btn btn-lg btn-primary mt-4 btn-block w-75 mx-auto" href="home.html">
                <strong class="text-light">Registrarse</strong>
            </button>
        </form>

        <!-- Enlace a  inicio de sesión-->
        <h5 class="text-center mt-4 mb-4" style="color:  #333333">
            <strong>¿Ya tienes cuenta? <a href="{{ url_for('session_page.new') }}" style="color:#FF5500;">Iniciar sesión</a></strong>
        </h5>
    </div>
{% endblock %}
