{% extends "/layouts/layout.html" %}
{% block content %}

    <!-- Navbar -->
    {% include '/layouts/_navbar.html' %}

    <!-- Sección de pedidos -->
    <section class="container mx-auto px-4">
        <!-- Opcíon para regresar a todos los pedidos -->
        <div class="mt-4 ml-0">
            <a class="secondary" href="{{ url_for('pedido_page.index', estado="en_progreso")}}">
                <h4 class="d-inline">
                    <i class="fas fa-angle-left pr-2"></i>Volver a mis pedidos
                </h4>
            </a>
        </div>
        <div class="row mt-4">
            <div class="col text-dark">
                <h3 style="font-weight: 700;">Pedido #00000{{ pedido.id }}</h3>
            </div>
            <div class="col text-right">
                <h4>{{ pedido.fecha_de_creacion_str }}</h4>
            </div>

        </div>
        <div class="row mt-2 mb-2">
            <div class="col-3">
                {% if "En Progreso" in pedido.estado and pedido.estado != "En Progreso (Preparando paquete)" %}
                    <i class="fas fa-box-open fa-4x secondary ml-5"></i>
                {% endif %}
            </div>
            <div class="col-3">
                {% if pedido.estado == "En Progreso (Preparando paquete)" %}
                    <i class="fas fa-dolly-flatbed fa-4x secondary ml-5"></i>
                {% endif %}
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>
        <div class="progress" style="height: 10px;">
            {% if "En Progreso" in pedido.estado and pedido.estado != "En Progreso (Preparando paquete)" %}
                <div class="progress-bar bg-primary" role="progressbar" style="width: 25%;" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
            {% elif pedido.estado == "En Progreso (Preparando paquete)" %}
            <div class="progress-bar bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="40"
                aria-valuemin="0" aria-valuemax="100"></div>
            {% endif %}
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-3">
                {% if "En Progreso" in pedido.estado and pedido.estado != "En Progreso (Preparando paquete)" %}
                    <h5 class="ml-5">{{ pedido.estado }}</h5>
                {% endif %}
            </div>
            <div class="col-3">
                {% if pedido.estado == "En Progreso (Preparando paquete)" %}
                    <h5 class="ml-5">{{ pedido.estado }}</h5>
                {% endif %}
            </div>
            <div class="col-3"></div>
            <div class="col-3"></div>
        </div>

        <div class="row">
            <div class="col-5">
                <!-- Campo para ver detalles de envío -->
                <div class="card text-dark mt-4 p-4">
                    <h4 class="" style="font-weight: 600;">Envío</h4>
                    {% if pedido.direccion_de_envio == "" %}
                        <div class="row mt-2">
                            <div class="col-2 text-center my-auto">
                                <i class="fas fa-exclamation-triangle fa-3x text-warning"></i>
                            </div>
                            <div class="col-10 my-auto">
                                <h5>No has ingresado tu dirección todavía</h5>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-4 btn-block w-75 mx-auto" style="max-width:250px;"
                            data-toggle="modal" data-target="#AgregarDireccion">
                            <strong class="text-light">Ingresar dirección</strong>
                        </button>
                    {% else %}
                        <h5>Dirección: {{ pedido.direccion_de_envio }}</h5>
                    {% endif %}
                </div>
                <!-- Campo para cancelar pedido-->
                <div class="card text-dark mt-4 p-4">
                    <h4 class="" style="font-weight: 600;">Cancelación</h4>
                    <h5 class="mt-2">Puedes cancelar tu orden sin costo alguno. No se te efectuó ningun cobro.</h5>
                    <button class="btn btn-outline-secondary mt-4 btn-block w-75 mx-auto" style="max-width:250px;"
                        data-toggle="modal" data-target="#CancelarPedido">
                        <strong>Cancelar pedido</strong>
                    </button>
                </div>
            </div>
            <div class="col-7">
                <!-- Campo para ver productos en el pedido-->
                <div class="card text-dark mt-4 p-4">
                    <h4 class="" style="font-weight: 600;">Productos</h4>
                    {% for producto_por_pedido in productos_por_pedido %}
                        <div class="row mt-4">
                            <div class="col-sm-3 text-center">
                                <img style="max-width:300px;"
                                    src="{{  producto_por_pedido.producto.fotos_url[0] }}"
                                    class="w-75 my-auto mx-auto" alt="...">
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-md-7 col-6">
                                        <h5 class="d-sm-block d-none" style="font-weight: 600;">
                                            {{ producto_por_pedido.producto.nombre }}
                                        </h5>
                                        <p class="d-sm-none d-block" style="font-weight: 600;">
                                        </p>
                                    </div>
                                    <div class="col-md-5 col-6">
                                        <h5 class="d-sm-block d-none" style="font-weight: 600;">{{ producto_por_pedido.cantidad }} x S/ {{ producto_por_pedido.precio_unitario_str }}</h5>
                                        <p class="d-sm-none d-block" style="font-weight: 600;">1 x S/ {{ producto_por_pedido.precio_unitario_str}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="progress mt-4 mb-4" style="height:2px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-md-7 col-6">
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">Subtotal</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">Subtotal</p>
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">Envío</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">Envío</p>
                                </div>
                                <div class="col-md-5 col-6">
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">S/ {{ pedido.subtotal_str }}</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">S/ {{ pedido.subtotal_str }}</p>
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">S/ {{ pedido.tarifa_de_envio_str }}</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">S/ {{ pedido.tarifa_de_envio_str }}</p>
                                </div>
                            </div>
                            <div class="progress mt-4 mb-4" style="height:2px;">
                                <div class="progress-bar" role="progressbar"
                                    style="width: 100%; background-color:#C9C9C9;" aria-valuenow="100" aria-valuemin="0"
                                    aria-valuemax="100">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7 col-6">
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">Total</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">Total</p>
                                </div>
                                <div class="col-md-5 col-6">
                                    <h5 class="d-sm-block d-none" style="font-weight: 600;">S/ {{ pedido.precio_total_str }}</h5>
                                    <p class="d-sm-none d-block" style="font-weight: 600;">S/ {{ pedido.precio_total_str }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress mt-4 mb-4" style="height:2px;">
                        <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                    {% if (pedido.estado != "En Progreso (Preparando paquete)") or (pedido.estado != "Entregado") or (pedido.estado != "Enviado") %}
                        <div class="row">
                            {% if pedido.estado == 'En Progreso (Pago y dirección pendientes)' or pedido.estado == 'En Progreso (Pago pendiente)' %}
                                <div class="col-sm-3 text-center">
                                    <div class="container mx-auto my-auto text-center">
                                        <i class="far fa-clock text-warning fa-5x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h4>
                                        <strong style="color: #737373;">Estado de pago:</strong><strong><br>Pendiente</strong>
                                    </h4>
                                </div>
                            {% elif pedido.estado == "En Progreso (Dirección pendiente)" or pedido.estado == "En Progreso (Preparando paquete)" %}
                                <div class="col-sm-3 text-center">
                                    <div class="container mx-auto my-auto text-center">
                                        <i class="fas fa-check-circle text-success fa-5x"></i>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <h4>
                                        <strong style="color: #737373;">Estado de pago:</strong><strong><br>Aceptado</strong>
                                    </h4>
                                </div>
                            {% endif %}
                        </div>
                        {% if pedido.estado == 'En Progreso (Pago y dirección pendientes)' or pedido.estado == 'En Progreso (Pago pendiente)' %}
                            <button class="btn btn-lg btn-primary mt-4 btn-block w-75 mx-auto" style="max-width:250px;"
                                data-toggle="modal" data-target="#ElegirMetodoDePago">
                                <strong class="text-light">Pagar pedido</strong>
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        {% if pedido.direccion_de_envio == "" %}
            <!-- Modal de formulario para agregar dirección -->
            <div class="modal fade" id="AgregarDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-dark px-4"
                        style="border-color: #FF5500; border-radius: 15px; border-width: 5px;">
                        <div class="modal-body" style="background-color: white; border-radius: 15px;">

                            <!-- Botón para cerrar modal -->
                            <button type="button" class="close mt-1 mr-1" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button><br>

                            <!-- Título de modal -->
                            <h4 class="mt-1 text-center" style="font-weight: 600;">¿Dónde te entregamos tus productos?
                            </h4>

                            <!-- Formulario de dirección -->
                            <form class="form mx-auto w-100 mt-4" role="form" autocomplete="off" id="formulario_direccion"
                                novalidate="" method="POST" action="{{ url_for('pedido_page.agregar_direccion')}}">

                                <!-- Input de id_pedido -->
                                <input type="hidden" id="id_pedido" name="id_pedido" value="{{ pedido.id }}">

                                <!-- Input de distrito -->
                                <div class="form-group">
                                    <select class="form-control" id="distrito" name="distrito">
                                        <option selected>Distrito</option>
                                        <option>Barranco</option>
                                        <option>Chorrillos</option>
                                        <option>Jesus María</option>
                                        <option>La Molina</option>
                                        <option>Miraflores</option>
                                        <option>San Borja</option>
                                        <option>San Isidro</option>
                                        <option>San Miguel</option>
                                        <option>Santiago de Surco</option>
                                    </select>
                                </div>

                                <!-- Input de dirección -->
                                <input type="text" class="form-control mt-3" name="direccion" id="direccion" required
                                    placeholder="Dirección"
                                    oninvalid="this.setCustomValidity('Ingresa tu correo electrónico')"
                                    oninput="this.setCustomValidity('')" />


                                <!-- Botón para enviar formulario-->
                                <button class="btn btn-lg btn-primary mt-4 mb-4 btn-block w-75 mx-auto" href="home.html">
                                    <strong class="text-light">Confirmar</strong>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Modal de confirmación de cancelación de pedido -->
        <div class="modal fade" id="CancelarPedido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content text-dark"
                    style="border-color: #666666; border-radius: 15px; border-width: 5px;">
                    <div class="modal-body" style="background-color: white; border-radius: 15px;">

                        <!-- Botón para cerrar modal -->
                        <button type="button" class="close mt-1 mr-1" data-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button><br>

                        <!-- Título de modal -->
                        <h4 class="mt-1 text-center" style="font-weight: 600;">¿Seguro que deseas cancelar este pedido?
                        </h4>

                        <!-- Informacion sobre condiciones de cancelación -->
                        <h5 class="mt-3 text-center" style="font-weight: 600;">No se te efectuará ningún cobro.
                        </h5>

                        <!-- Contenido-->
                        <form class="w-100 text-center mt-4" action="{{ url_for('pedido_page.cancelar_pedido') }}" method="POST">

                            <!-- Input de id_pedido -->
                            <input type="hidden" id="id_pedido" name="id_pedido" value="{{ pedido.id }}">

                            <button class="btn btn-danger w-75 mx-auto" style="max-width: 225px; min-width: 125px;" type="Submit">
                                <strong>Cancelar pedido</strong>
                            </button>
                            <div class="container mt-3 mb-3 mx-0 px-0 text-center">
                                <button class="btn btn-outline-secondary w-75 mx-auto"
                                    style="max-width: 225px; min-width: 125px;" href="#" data-dismiss="modal"
                                    aria-label="Close">
                                    <strong>Regresar</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% if (pedido.estado != "En Progreso (Preparando paquete)") or (pedido.estado != "Entregado") or (pedido.estado != "Enviado") %}
            <!-- Modal para elegir método de pago -->
            <div class="modal fade" id="ElegirMetodoDePago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-dark px-4"
                        style="border-color: #FF5500; border-radius: 15px; border-width: 5px;">
                        <div class="modal-body" style="background-color: white; border-radius: 15px;">

                            <!-- Botón para cerrar modal -->
                            <button type="button" class="close mt-1 mr-1" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button><br>

                            <!-- Título de modal -->
                            <h4 class="mt-1 text-center" style="font-weight: 600;">Elige tu método de pago
                            </h4>

                            <!-- Formulario de método de pago -->
                            <form class="form mx-auto w-100 mt-4" role="form" autocomplete="off"
                                id="formulario_metodo_de_pago" action="{{ url_for('pedido_page.elegir_metodo_de_pago') }}" method="POST">

                                <!-- Input de id_pedido -->
                                <input type="hidden" id="id_pedido" name="id_pedido" value="{{ pedido.id }}">

                                <div class="form-group">
                                    <div class="btn-group-toggle m-auto text-center w-100" data-toggle="buttons">
                                        <label class="btn btn-lg btn-outline-secondary rounded w-100 border">
                                            <input type="radio" name="metodo_de_pago" id="metodo_de_pago" autocomplete="off" value="tarjeta">
                                            <i class="far fa-credit-card mr-2"></i>Tarjeta de
                                            crédito/débito
                                        </label><br>
                                        <label class="btn btn-lg btn-outline-secondary rounded w-100 border mt-2">
                                            <input type="radio" name="metodo_de_pago" id="metodo_de_pago" autocomplete="off" value="efectivo"><i
                                                class="fas fa-money-bill-wave mr-2"></i>Efectivo
                                        </label>
                                    </div>
                                </div>
                                <!-- Botón para enviar formulario-->
                                <button class="btn btn-lg btn-primary mt-4 mb-4 btn-block w-75 mx-auto" type="submit">
                                    <strong class="text-light">Seleccionar</strong>
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}


    </section>

    <!-- Footer -->
    {% include '/layouts/_footer.html' %}

{% endblock %}
