<!-- Footer -->
<footer class="text-white mt-4 px-0" style="background-color:#2E3133;">
    <div class="container mx-auto px-4" style="max-width: 1100px;">
        <div class="row px-0 pt-5 pb-3">
            <div class="col-md-5 px-0">
                <h5>Acerca de Linio</h5>
                <a style="color: #B3B3B3;" target="_blank" href="https://www.linio.com.pe/sp/acercadenosotros">
                    Historia
                </a><br>
                <a style="color: #B3B3B3;" target="_blank"
                href="https://www.linio.com.pe/sp/terminos-y-condiciones">Términos y condiciones</a><br>
                <a style="color: #B3B3B3;" target="_blank" href="https://www.linio.com.pe/sp/privacidad">Política de
                privacidad</a><br>
                <p class="mt-3">Copyright © 2019 Linio. Todos los derechos reservados. </p>
            </div>
            <div class="col-md-4 px-0">
                <h5>Servicio al cliente</h5>
                <a style="color: #B3B3B3;" target="_blank" href="https://www.linio.com.pe/sp/preguntas-frecuentes">Preguntas frecuentes</a><br>
                <a style="color: #B3B3B3;" target="_blank"
            href="https://www.linio.com.pe/sp/preguntas-frecuentes/formas-de-pago-y-precio#s1">Formas de
            pago</a><br>
                <a style="color: #B3B3B3;" target="_blank"
            href="https://www.linio.com.pe/sp/preguntas-frecuentes">Contacto</a><br>
                <a style="color: #B3B3B3;" target="_blank"
            href="https://www.linio.com.pe/sp/politica-devoluciones">Política de garantía y devoluciones</a>
            </div>
            <div class="col-md-3 px-0">
            <h5>Síguenos:</h5>
                <a style="color: #8b8b8b;" href="https://www.facebook.com/LinioPeru/" target="_blank"><i class="fab fa-facebook fa-2x m-2"></i></a>
                <a style="color: #8b8b8b;" href="https://twitter.com/LinioPeru/" target="_blank"><i
                class="fab fa-twitter fa-2x m-2"></i></a>
                <a style="color: #8b8b8b;" href="https://www.youtube.com/channel/UCeILO0qSGn4HdEf3AZK08-A" target="_blank"><i class="fab fa-youtube fa-2x m-2"></i></a>
            </div>
        </div>
    </div>
  <div style="background-color: black;" class="row w-100 text-light mx-0 px-0">
    <div class="container text-center">
      <p class="text-center mt-3 mb-3">Hecho por estudiantes de la Universidad Del Pacífico con ❤️.</p>
    </div>
  </div>
</footer>
