<header class="text-center">
  <a href="{{ url_for('inicio_page.inicio') }}">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/Linio_logo_refresh.svg/1200px-Linio_logo_refresh.svg.png"
        alt="" style="height: 90px;" class="mt-3 mb-3">
  </a>
    <div class="progress" style="height:3px;">
        <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
</header>
